node_modules

/app/generated/prisma

# Cache and build artifacts
.next/
.turbo/
.cache/
.parcel-cache/
*.tsbuildinfo
.eslintcache

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
